on:
  push:
    tags:
      - "v*.*"

name: Create release
jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Build PDF document
        uses: xu-cheng/latex-action@v2
        with:
          work_in_root_file_dir: true
          root_file: |
            resume.tex

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            resume.pdf